html
    font-size 62.5%

body
    font-size: 1.4rem
    color #000

ul
    list-style none

a
    color #000
    text-decoration none
    -webkit-tap-highlight-color transparent
    tap-highlight-color transparent

    &:hover
        opacity 0.75

*,
*:before,
*:after
    box-sizing border-box
    padding 0
    margin 0

.page-enter
    opacity 0

.page-enter-active
    transition opacity 0.5s
